.slider {
	@apply relative w-full bg-gray-100 overflow-hidden;
}
.swiper {
	@apply h-full;
}
.dots {
	@apply absolute left-0 right-0 flex items-end justify-center gap-6;
	bottom: 23px;
}
.bullet {
	@apply relative cursor-pointer z-1 transition-all;
	background-color: #696969;
	width: 85px;
	height: 3px;

	&:first-child::before {
		content: 'Праздники';
	}

	&:last-child::before {
		content: 'Коллекции';
	}

	&::before {
		@apply absolute left-0 bottom-3 font-semibold transition-all;
		color: #696969;
	}

	&:hover {
		@apply bg-red-400;

		&:before {
			@apply text-red-400;
		}
	}
}
.bulletActive {
	@apply bg-red-400;
	height: 5px;

	&:first-child {
		width: 125px;
	}

	&:last-child {
		width: 123px;
	}

	&::before {
		@apply text-3lg text-gray-base;
	}

	&:hover {
		@apply bg-red-400;

		&::before {
			@apply text-gray-base;
		}
	}
}
