.copyright {
	@apply flex items-center justify-center gap-2.5 font-semibold text-center py-3 bg-red-400 text-white;
	padding-left: 25px;
	padding-right: 25px;
}
.map {
	@apply w-full;
	aspect-ratio: 4.4 / 1;
}
