.sliders {
	@apply relative flex;
	margin-bottom: 60px;
}
.catalog {
	@apply absolute bottom-0 left-0 right-0 w-fit mx-auto translate-y-1/2 font-semibold text-white text-2lg flex items-center gap-7 py-5 bg-red-400 rounded-lg whitespace-nowrap border-hover z-1;
	padding: 21px 37px 21px 23px;
}
.catalogIcon {
	@apply flex flex-col gap-1.5;
	min-width: 26px;

	> span {
		@apply h-0.5 rounded-sm bg-white;
	}
}

@media(max-width: 1700px) {
	.sliders {
		@apply flex flex-col;
	}
}